
/* Template / Container styles */


html {
  /* Position and min-height for sticky footer */
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 calc(4em + 50px) 0; /* Bottom margin = footer height + topnav height */
  font-size: 14px; /* Sets the size to be used for ems */
}

p,a {
  font-family: 'Lato', sans-serif;
}
a {
  color: #daa520;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width:90%;
  max-width:1000px;
  margin-top: 100px; /* Margin = height of topnav */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4em;
  padding: 1em;
  background-color: #3d3d3d;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: white;
  text-align: center;
}

#leaderboard {
  width: 728px;
  height: 90px;
  background-color: #222222;
  margin: 10px auto;
  text-align: center; }
  @media (max-width: 730px) {
    #leaderboard {
      display: none; } }

.dateline {

  font-style: italic;
  font-size: 1em;
  color: #DAA520;
}


/* Project Specific styles */



  .row {
      border-bottom:1px solid #cdcdcd;
      margin-bottom:25px;
      padding-top:25px;
      padding-bottom:25px;
  }



  H2 {
          font-family: "Lato", sans-serif;
          font-size:2.5em;
          font-weight: bold;
       }


  H3 {
          font-family: "Montserrat", sans-serif;
          font-size:1.5em;
          text-transform:uppercase;
      }


H4 {
      font-family: "Montserrat", sans-serif;
      font-size:1em;
      margin-top:-10px;
      color:#999;
      line-height: 160%;
  }

p {
  font-family: "Lato", sans-serif;
  font-size:1.25em;
  line-height: 160%;
  color:#999;
}


.box {
  width:15px;
  height:15px;
  float:left;
  margin-right:5px;

}

.grey {background:#888}

.blue {background:#679ACA;}

.key-inside {width:100px;float:left;}

.key {height:25px;width:300px;}

.month-rankings {
text-align: left;
}

.month-ranking {
text-align:center;
display: inline-block;
height: 100px;
width: 100px;
background-color: #888;
color: white;
font-family: "Montserrat", sans-serif;
box-sizing: border-box;
padding: 10px 0;
margin: 0 15px;
margin-top:10px;
}
.month-ranking.highlighted {
background-color: #679aca;
}

@media (max-width: 600px) {
.month-ranking {
display: block;
height: auto;
width: auto;
margin: 3px 0;
}

p {font-size: 1em;}

}

.month-label {
font-size: 14px;

}



#social-icons {
  width:100%;
  max-width: 1000px;
  font-size: 2em;
  color:#999;
  cursor: pointer;
}


.icon-facebook {margin-right:5px;}

span.highlighted {
  color:#679aca;
}

.indent {
  padding-left:20px;
}

.month-num {
font-size: 54px;
}
@media (max-width: 600px) {
.month-num {
font-size: 36px;
}
}
/* table styles */
td {
  padding: 5px;
  border-bottom: 1px solid #CCC;
}
/* making the table act responsively */
@media 
only screen and (max-width: 500px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 40%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }


